<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>도와줘요 디폴트!</title>
</head>
<body>
<p style="text-align: center;">
    <img src="{{url_for('static', filename = '/defal.jpg')}}" width="200" sizes="200" alt="LOGO"/>
</p>
<h1 style="text-align: center;">DC 파워 서플라이</h1>
<p style="text-align: center;">
    <img src="{{url_for('static', filename = '/t4.jpg')}}" width="500" sizes = "500"  alt="label4" />
</p>
<h3 style="text-align: center;"><a title="사용법" href="https://youtu.be/8BcIDpUPKNM" target="_blank" rel="noopener">사용법</a></h3>
<h3 style="text-align: center;">위치</h3>
<p style="text-align: center;"><em><strong>학회방 작업 테이블 위</strong></em></p>
모델 실행시간 : {{data}}s
</body>
</html>