<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>도?와?줘?요?</title>
</head>
<body>
<h1 style="text-align: center;">???</h1>
<p style="text-align: center;">
    <img src="{{url_for('static', filename = '/mama.PNG')}}" width="500" sizes = "500" alt="label1" />
</p>
<h3 style="text-align: center;"><a title="사용법" href="https://www.youtube.com/watch?v=AGNG6ZU1Yos" target="_blank" rel="noopener">사용법</a></h3>
<h3 style="text-align: center;">위치</h3>
<p style="text-align: center;"><em><strong>학회방 A 서랍 첫 번째 칸</strong></em></p>
</body>
</html>